{% extends 'dummy.html' %}


{% block title %}
<title>school create</title>
{% endblock %}

{% block body_block %}
     <center>
      {% if form.instance.pk %}
      <h1>school Update Form</h1>
      {% else %}
        <h1>School create form </h1>
      {% endif %}
          <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {% if form.instance.pk %}
            <input type="submit" value="Update" class="btn-success">
            {% else %}
            <input type="submit" value="create" class="btn-success">
            {% endif %}
          </form>
     </center>
{% endblock %}