{% extends 'dummy.html' %}


{% block title %}
<title>school detail</title>
{% endblock %}
    {% block body_block %}
    <center>
        <h1> school name is {{sclobj.sname}}</h1>
        <h1> principal name is {{sclobj.sprincipal}}</h1>
        <h1> school  location is {{sclobj.sloc}}</h1>
        <h1>STUDENT details are</h1>
        <table border="3px">

            <tr>
                <th>student name</th>
                <th>student age</th>
            </tr>
            {% for st in sclobj.School.all %}
            <tr>
                <td>{{st.Stname}}</td>
                <td>{{st.st_age}}</td>
            </tr>
            {% endfor %}

        </table><br><br><br>
        <a href="{% url 'school_update' pk=sclobj.pk  %}" class="btn btn-primary">school_update </a>
        <a href="{% url 'school_delete' pk=sclobj.pk  %}" class="btn btn-primary">school_delete </a>
    </center>
    


    {% endblock %}
